@import url(&#34;https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&amp;display=swap&#34;
);
 :root {
     --highlight: #5756e6;
}
 * {
     box-sizing: border-box;
}
 body {
    background-image: url("https://wallpaperaccess.com/full/2029466.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.navbar {
    border-radius: 32px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 85vh;
    margin-bottom: 75vh;
}

li img
{
   margin-left: 0;
   margin-right: 77vh;
   height: 250px;
   width: 305px;
}


.list-item {
    list-style-type: none;
    flex-basis: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    margin-right: 5em;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.2s ease;
    cursor: pointer;
}
.list-item-name {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
}
.list-item:hover {
    color: white;
    transform: translateY(-10px);
}
.list-item:hover .list-item-name {
    transform: translateY(40px);
    opacity: 1;
}

@media (max-width: 350px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        max-width: 120px;
        padding-bottom: 20px;
   }
    .list-item {
        flex-basis: auto;
   }
    .list-item:hover .list-item-name {
        transform: translateY(25px);
   }
}


.container{
   width: 1000px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 15em;
}


div p{
   font-size: 25px;
   color: black;
   margin-top: 30px;
   margin-right: 100px;
   margin-bottom: 25px;
   font-family: 'Times New Roman', Times, serif;
}

a{
   text-decoration: none;
   color: black;
   box-sizing: border-box;
   outline: 1px dashed #333;
   padding: 10px;
   margin: 15px 0 0;
   display: inline-block;
}

a:hover{
   background: #333;
   color: #fff;
}

.title{
   position: absolute;
   top: 135px;
   color: #fff;
}
.container1{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.face{
    width: 300px;
    height: 200px;
    overflow: hidden;
    transition: .4s;
    padding: 0;
}

.face1{
    position: relative;
     background: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
    transform: translateY(100px);
}



.face2{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.card:hover .face.face1{
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

.outer{
    opacity: .3;
    text-align: center;
    transition: 0.5s;
}

.card:hover .outer{
    opacity: 1;
}

.card:hover .face.face2{
    width: 400px;
    height: 400px;
    padding-left: 2em;
    padding-right: 2em;
    transform: translateY(0);
}


img{
    width: 300px;
    height: 200px;
}

h1, a{
    font-size: 10pt;
    margin: 0;
    color: #333;
}

a{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

a:hover{
    background: #333;
    color: #fff;
}

.title{
    position: absolute;
    top: 135px;
    color: #fff;
}

 #section-id  
{
    margin: 0;
    background-color: #0ff;
    width: 300px;
} 