.nav-links{
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #f44336;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
 }
 .course-col{
    flex-basis: 31%;
    background: #eb9b9b;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }
 @media(max-width: 700px){
    .row{
        flex-direction:column;

    }
 }
 .subcourses{
    flex-basis: 31%;
    width: 80%;
    background: #eb9b9b;
    margin: auto;
    box-sizing: border-box;
    text-align:center;
    padding-top: 50px;
 }
 .subcourses-col{
    background: #eb9b9b;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    flex-basis: 12%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5;
 }
 .subcourses-col img{
    width: 100%;
    display: block;
 }
 
 .layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
 }
 .layer:hover{
    background: rgba(226, 0, 0, 0.7);
 }
 .layer h3{
    width: 80%;

    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    margin-bottom: -4em;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
 }
 .layer:hover h3{
    bottom: 49%;
    opacity: 1;
 }
@media(max-width: 700px){
        .subcourses-col{
            flex-basis: 30%;
        }
}
@media(max-width: 500px){
    .subcourses-col{
        flex-basis: 45%;
    }
}
.Faculties{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.faculties-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.faculties-col img{
    width: 100%;
    border-radius: 10px;
}
.faculties-col p{
    padding: 0;
}
.faculties-col h3{
   margin-bottom: 16px;
    margin-top: 16;
    text-align: left;
}
.testimonials{
    width: 80%;
    margin: auto;
    text-align: 100px;
    padding-top: 100px;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 30px;
    text-align: center;
}
.testimonials-col .fa{
    color: #410804;
}
@media(max-width: 700px){
    .testimonials-col{
       height: 40px;
       margin-left: 5px;
       margin-right: 30px;
       border-radius: 50%;
    }
}
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #050100;
    margin: 5 7px;
    cursor: pointer;
    padding: 18px 0;
}
.icons .fa-heart-o{
    color: #f44336;
}